<%= form_with(model: user,local: false) do |form| %>

 <div class="modal-body">
   <div id= "errorArea" ></div>  
  <div class=form-group>
    <%= form.label :Username %>
    <%= form.text_field :username, class: 'form-control' %><br>
  </div>

  <div class=form-group>
    <%= form.label :Identifier %>
    <%= form.text_field :identifier, class: 'form-control' %><br>
  </div>

  <div class=form-group>
    <%= form.label :first_name %>
    <%= form.text_field :first_name , class: 'form-control'%><br>
  </div>


  </div>
    <%# <div class="modal-footer"> %>
    <%= form.submit class: "btn btn-primary"%>
    <button type="button" class="btn btn-secondary close-model" data-bs-dismiss="modal">Close</button>
    <%# </div> %>
<% end %>
