  <tr id="userRow_<%= user.id %>">
        <td><%= user.username %></td>
        <td><%= user.identifier %></td>
        <td><%= user.first_name %></td>

        <td><%= link_to 'Show', user, data: { bs_toggle: 'modal', bs_target: '#showUserModal',remote: true} %></td>
        <td><%= link_to 'Edit', edit_user_path(user), data: { bs_toggle: 'modal', bs_target: '#editUserModal',remote: true} %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } ,remote: true%></td>
      </tr>