<p id="notice"><%= notice %></p>
<%= link_to "Download as csv", users_path(format: :csv), download: ["Users", Date.today] %><br><br>

<%= form_with url: import_users_path, method: :post do |form|%>
  <%= form.file_field :file,accept: ".csv" %>
  <%= form.button "import" %>
<% end %><br>

<%= link_to 'New User', new_user_path, class: "btn btn-primary  mb-4", data: {bs_toggle: 'modal', bs_target: '#newUserModal' ,remote: true} %> 

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Identifier</th>
      <th>First_name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id= "usersTable">
    <% @users.each do |user| %>
    <%= render 'user_row', user:user%>
    
    <% end %>
  </tbody>
</table>

<br>
 
<div class="modal fade" id="newUserModal" tabindex="-1" aria-labelledby="newUserModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newUserModal">Create new user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id = "newUserForm"></div>
     
    </div>
  </div>
</div>

<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUserModal">edit user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id = "editUserForm"></div>
     
    </div>
  </div>
</div>

<div class="modal fade" id="showUserModal" tabindex="-1" aria-labelledby="showUserModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showUserModal">User Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id = "showUserDetails"></div>
     
    </div>
  </div>
</div>
